# PostgreSQL
POSTGRES_DB=workflow_db
POSTGRES_USER=workflow_user
POSTGRES_PASSWORD=workflow_password
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379

# Kafka
KAFKA_PORT=9092

# Workflow Service
WORKFLOW_SERVICE_PORT=8081

# Execution Service
EXECUTION_SERVICE_PORT=8082

# Common
SPRING_PROFILES_ACTIVE=local